.filme-principal {
  font-size: 1rem;
  background: var(--gradient), url(https://source.unsplash.com/random/1600x900);
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  opacity: 0;
  animation-name: fade-in-top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.filme-principal .description {
  margin-bottom: 3rem;
  margin-right: 2rem;
  margin-left: 0.5rem;
  max-width: 50em;
  font-size: 1.2rem;
  color: var(--sec-white);

  opacity: 0;
  animation-name: fade-in-top;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.filme-principal .titulo {
  margin-top: 15%;
  color: var(--main-white);
  font-family: serif;
  font-size: 4rem;
  font-weight: 800;

  opacity: 0;
  animation-name: fade-in-top;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.container {
  margin: auto auto auto 1rem;
}

.botao {
  background: var(--third-black);
  padding: 0.99rem;
  border: none;
  color: var(--main-white);
  border-radius: 0.2rem;
  box-shadow: 1px 1px 6px var(--sw);
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  outline: none;
  font-size: 0.7rem;
  margin: 0.5rem;

  opacity: 0;
  animation-name: fade-in-top;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.botao:hover {
  transform: translateY(-3px);
  background: var(--sec-white);
  color: var(--main-black);
}

.botao i {
  margin-right: 1rem;
}
